%h1 Buildings
- @building_geometries.each do |b_g|
  %svg{height: 250, width: 250}
    %polygon{points: "#{b_g.b_coordinates_array.flatten.join(', ')}", style: "fill:brown; stroke:black; stroke-width:0.5"}
    
